*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

span a{
  text-decoration: none;
  color: #fff;
}

span a:hover{
  text-decoration: underline;
  color: red;
}

strong{
  color: #ffffff7e;
}

button{
background-color: rgb(133, 255, 133);
  border: 3px solid black;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

button a{
  text-decoration: none;
}

.button-padrao:hover{
  background-color: #bbb;
  transition: all 5ms ease-in-out;
}

.button-padrao{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px 5px 5px;
}

::selection{
  color:white;
  background: black;
}

body{
  min-height: 50%;
  min-width: 50%;
  height: 100%;
  width: 100%;
}
#body-main{
  background-color: darkcyan;
}
/* HEADER  */
#imagem-main{
  width: initial;
  margin: auto;
  display: block;
}
/* MAIN */
img{
  width: 35em;
}

#header-main{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  border: 3px solid yellow;
  padding: 5px;
}

#header-main h1{
  font-family: 'Bungee Spice', sans-serif;
  color: aliceblue;
}

#header-main a{
  padding: 10px 5px;
}

.link-padrao{
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.link-main{
  text-decoration: none;
  margin: 5px 5px;
  font-family: 'Bungee Spice', sans-serif;
  font-family: 'EB Garamond', serif;
}

.link-main:visited{
  color: rgb(133, 255, 133);
}

.link-main:link{
  color: rgb(133, 255, 133);
}

.link-main:hover{
  color: aqua;
  text-decoration: underline;
}

/* MAIN  */
#main-main{
  background-color: rgba(0,0,0,0.8);
  border: 3px solid yellow;
  padding: 1em;
}


.imagem-direita{
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 1em;
  margin-left: 3em;
  margin-bottom: 1.5em;
}

.imagem-direita p{
  padding: 2em;
  color: aliceblue;
}

.imagem-esquerda{
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  padding: 1em;
  margin-right: 3em;
  margin-bottom: 1.5em;
}

.imagem-esquerda p{
  padding: 2rem;
  color: aliceblue;
}

.h1-padrao{
  font-family: 'Bungee Spice', sans-serif;
  color: #fff;
  font-size: 34px;
  margin-bottom: 5px;
}

.p-breve{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
  overflow: hidden;
}

.conteudo{
  text-align: center;
  padding: 1em;
}

/*  FOOTER  */
#footer-main{
  text-align: center;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  border: 3px solid yellow;
  padding: 5px;
}

.p-direitos{
  color: red;
}


#main-bio{
  background-color: rgba(0,0,0,0.5);
  border: 3px solid yellow;
  padding: 10px;
  text-align: center;
}
#main-bio .conteudo p{
  overflow-y: hidden;
  /* TODO --> Finalizar a variacao de tela do SITE */
  min-width: none;
  border: 3px solid red;
  padding: 30px;
}

