  span a{
    text-decoration: none;
    color: #fff;
  }

  span a:hover{
    text-decoration: underline;
    color: red;
  }

  /* Página INDEX */
  body{
    min-height: 100vh;
  }
  #body-main{
    background-color: darkcyan;
  }
  /* HEADER  */
  #imagem-main{
    width: initial;
    margin: auto;
    display: block;
  }
  /* MAIN */
  img{
    width: 40%;
  }
  
  .imagem-direita{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
  }
  
  .imagem-direita p{
    padding: 10px;
    color: aliceblue;
  }

  .imagem-esquerda{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    padding: 15px;
    margin-right: 50px;
    margin-bottom: 15px;
  }

  .imagem-esquerda p{
    padding: 10px;
    color: aliceblue;
  }
  #header-main{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    border: 3px solid yellow;
    margin-bottom: 10px;
    padding: 5px;
  }

  #header-main h1{
    font-family: 'Bungee Spice', sans-serif;
    color: aliceblue;
  }

  #header-main a{
    padding: 10px 5px;
  }

  .link-padrao{
    display: block;
    color: #fff;
    margin-bottom: 5px;
  }

  .link-main{
    text-decoration: none;
    margin: 5px 5px;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'EB Garamond', serif;
  }

  .link-main:visited{
    color: rgb(133, 255, 133);
  }

  .link-main:link{
    color: rgb(133, 255, 133);
  }

  .link-main:hover{
    color: aqua;
    text-decoration: underline;
  }

  /* MAIN  */
  #main-main{
    background-color: rgba(0,0,0,0.8);
    border: 3px solid yellow;
    padding: 10px;
    text-align: center;
  }

  #main-main .conteudo p{
    overflow-y: hidden;
    /* TODO --> Finalizar a variacao de tela do SITE */
    min-width: none;
    border: 3px solid red;
    padding: 30px;
  }

  .p-breve{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: auto;
    background: rgba(0,0,0,0.5);
    color: #fff;
    margin-bottom: 5px;
  }

  /*  FOOTER  */
  #footer-main{
    text-align: center;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid yellow;
    margin-top: 10px;
    padding: 5px;
  }

  .p-direitos{
    color: red;
  }

  /* Página BIO */

  #body-bio{
    background-color: #660066;
  }

  #main-bio{
    background-color: rgba(0,0,0,0.5);
    border: 3px solid yellow;
    padding: 10px;
    text-align: center;
  }
  #main-bio .conteudo p{
    overflow-y: hidden;
    /* TODO --> Finalizar a variacao de tela do SITE */
    min-width: none;
    border: 3px solid red;
    padding: 30px;
  }


  /* Página contato */
  .voltar{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
  }